@using GamingWiki.Web.Infrastructure
@model GameServiceDetailsModel

<div id="preloder">
    <div class="loader"></div>
</div>

<section class="page-top-section set-bg" data-setbg="/img/page-top-bg/1.jpg">
    <div class="page-info">
        <h2>@Model.Name.ToUpper()</h2>
        <div class="site-breadcrumb">
            <a asp-controller="Home" asp-action="Index">Home</a>  / <a asp-controller="Games" asp-action="All">Games</a>
        </div>
    </div>
</section>

<section class="games-single-page">
    <div class="container">
        <div class="game-single-preview">
            <img src="@Model.PictureUrl" alt="">
        </div>
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-7 game-single-content">
                <div class="gs-meta">Developed by: <a href="" style="pointer-events: none; cursor: default;">@string.Join(", ", Model.Creators)</a></div>
                <h2 class="gs-title">@Model.Name.ToUpper()</h2>
                <h4>Genre: @Model.Genre&nbsp;&nbsp;&nbsp;Area: @Model.Area</h4>
                <p>@Model.Description</p>

                @if (this.User.IsAdmin())
                {
                    <a asp-controller="Games" asp-action="Edit" asp-route-gameId="@Model.Id" class="btn btn-warning">Edit</a>
                    <a asp-controller="Games" asp-action="Delete" asp-route-gameId="@Model.Id" class="btn btn-danger">Delete</a>
                }
                else
                {
                    <a asp-controller="Reviews" asp-action="Create" asp-route-gameId="@Model.Id" class="btn btn-info">Add review</a>
                }
                <br />
                <br />
                <h4 style="color: white;">Supported SupportedPlatforms: </h4>
                <ul class="blog-filter">
                    @foreach (var platform in Model.Platforms)
                    {
                        <li> <a href="" style="background-color: #0c062e; pointer-events: none; cursor: default;">@platform</a></li>
                    }
                </ul>
                @if (Model.Characters.Any())
                {
                    <br/>
                    <h4 style="color: white;">Characters: </h4>
                    <ul class="blog-filter">
                        @foreach (var character in Model.Characters)
                        {
                            <li><a asp-controller="Characters" asp-action="Details" asp-route-characterId="@character.Id" style="background-color: darkgreen;">@character.Name</a></li>
                        }
                    </ul>
                    <br/>
                }
                <section class="intro-video-section set-bg d-flex align-items-end " data-setbg="@Model.PictureUrl">
                    <a href="@Model.TrailerUrl" class="video-play-btn video-popup"><img src="/img/icons/solid-right-arrow.png" alt="#"></a>
                    <div class="container">
                        <div class="video-text">
                            <h2>Trailer of the game. Tap to watch.</h2>
                        </div>
                    </div>
                </section>
                <br/>
                <h3 style="color: white">Reviews: (@Model.Reviews.Count())</h3>
                <br/>
                @foreach (var review in Model.Reviews)
                {

                    var yellowStars = (int)new[]
                    {
                        review.DifficultyRate, review.PriceRate,
                        review.GraphicsRate, review.LevelsRate
                    }.Average();

                    var yellowStarsString = new string('⭐', yellowStars);

                    <div class="big-blog-item">
                        <div class="blog-content text-box text-white">
                            <div class="top-meta">
                                <i class="fa fa-user-o"></i> @review.Author
                                <div>@yellowStarsString</div>
                            </div>
                            <p>@(review.Description ?? string.Empty)</p>
                            @if (this.User.IsAdmin() || this.User.GetId() == review.AuthorId)
                            {
                                <a asp-controller="Reviews" asp-action="Edit" asp-route-reviewId="@review.Id" class="btn btn-warning">Edit</a>
                                <a asp-controller="Reviews" asp-action="Delete" asp-route-reviewId="@review.Id" class="btn btn-danger">Delete</a>}
                        </div>
                    </div>}
                <partial name="_SharePartial" />
            </div>
            <div class="col-xl-3 col-lg-4 col-md-5 sidebar game-page-sideber">
                <div id="stickySidebar">
                    <div class="widget-item">
                        <div class="rating-widget">
                            <h4 class="widget-title">Ratings</h4>
                            @if (Math.Abs(Model.Rating) <= 0)
                            {
                                <h4 class="widget-title">There are currently no added reviews for this game.</h4>
                                <div class="text-center"><a asp-controller="Reviews" asp-action="Create" asp-route-gameId="@Model.Id" class="btn btn-info">Be the first to add a review</a></div>
                            }
                            else
                            {
                                <ul>
                                    <li>Price <span>@Model.Ratings["Price"].ToString("F1")/5</span></li>
                                    <li>Graphics<span>@Model.Ratings["Graphics"].ToString("F1")/5</span></li>
                                    <li>Levels<span>@Model.Ratings["Levels"].ToString("F1")/5</span></li>
                                    <li>Difficulty<span>@Model.Ratings["Difficulty"].ToString("F1")/5</span></li>
                                </ul>
                                <div class="rating">
                                    <h5><i>Rating</i><span>@Model.Rating.ToString("F1")</span> / 5</h5>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="widget-item">
                        <div class="testimonials-widget">
                            <h4 class="widget-title">Quotes</h4>
                            <div class="testim-text">
                                <p>"The healthy human mind doesn't wake up in the morning thinking this is its last day on Earth. But I think that’s a luxury, not a curse. To know you’re close to the end is a kind of freedom."</p>
                                <h6><span>Captain Price, </span>Call of Duty: Modern Warfare</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>