@using GamingWiki.Web.Models.Games
@model GameListingModel

<h1>Game details for @Model.Name</h1>

<div class="card text-white bg-dark mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="@Model.PictureUrl" class="img-fluid rounded-start" style="width: 500px; height: 500px; object-fit: cover">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title">Place: @Model.Place</h4>
                <h4 class="card-title">Class: @Model.Class</h4>
                <h4 class="card-title">Creators: @string.Join(", ", @Model.Creators))</h4>
                <p class="card-text">@Model.Description</p>
                <a href="/Games/Edit?gameId=@Model.Id" class="btn btn-block btn-primary">Edit</a>
                <a href="/Games/Delete?gameId=@Model.Id" class="btn btn-block btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>