@model ArticleFullModel

<div id="preloder">
    <div class="loader"></div>
</div>

<section class="page-top-section set-bg" data-setbg="/img/page-top-bg/2.jpg">
    <div class="page-info">
        <h2>Blog</h2>
        <div class="site-breadcrumb">
            <a asp-controller="Home" asp-action="Index">Home</a>  / <a asp-controller="Articles" asp-action="All">Blog</a>
        </div>
    </div>
</section>

<section class="blog-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-7">
                <ul class="blog-filter">
                    @foreach (var category in Model.Categories)
                    {
        <li><a asp-controller="Articles" asp-action="Filter" asp-route-categoryId="@category.Id">@category.Name</a></li>
}
                </ul>
                @if (!Model.Articles.Any())
                {
                    <div class="blog-content text-box text-white">
                        <h5>There are no available articles for the given category.</h5>
                        <br/>
                        <a class="btn btn btn-success" asp-controller="Articles" asp-action="Create">Be the first to add one!</a>
                    </div>
                    <br />
                }

                @foreach (var article in Model.Articles)
                {
    <div class="big-blog-item">
        <img src="@article.PictureUrl" alt="#" class="blog-thumbnail" style="width: 700px; height: 350px; object-fit: cover">
        <div class="blog-content text-box text-white">
            <div class="top-meta">
                <i class="fa fa-clock-o"></i> @article.PublishedOn
            </div>
            <h3>@article.Heading</h3>
            <a asp-controller="Articles" asp-action="Details" asp-route-articleId="@article.Id" class="read-more">Read More <img src="/img/icons/double-arrow.png" alt="#" /></a>
        </div>
    </div>}
                <div class="site-pagination">
                    <a href="#" class="active">01.</a>
                    <a href="#">02.</a>
                    <a href="#">03.</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-5 sidebar">
                <div id="stickySidebar">
                    <div class="widget-item">
                        <form class="search-widget" asp-controller="Articles" asp-action="Search" method="post">
                            <input type="text" name="searchCriteria">
                            <button type="submit">Search</button>
                        </form>
                    </div>
                    <div class="widget-item">
                        <div class="categories-widget">
                            <h4 class="widget-title">Navigation</h4>
                            <ul>
                                <li><a asp-controller="Games" asp-action="All">Games</a></li>
                                <li><a asp-controller="Characters" asp-action="All">Characters</a></li>
                                <li><a asp-controller="Reviews" asp-action="All">Reviews</a></li>
                                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>