@model GamingWiki.Web.Models.Articles.ArticleListingModel

<h1>@Model.Heading</h1>

<div class="card text-white bg-dark mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="@Model.PictureUrl" class="img-fluid rounded-end" style="width: 1108.17px; height: 540px; object-fit: cover">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4 class="card-title">Category: @Model.Category</h4>
                <h4 class="card-title">Author: @Model.Author</h4>
                <h4 class="card-title">Published On: @Model.PublishedOn</h4>
                <p class="card-text">@Model.Content</p>
                @if (!Model.Comments.Any())
                {
                    <p>No comments yet.</p>
                }
                else
                {
                    <h5>Comments (@Model.Comments.Count())</h5>

                    @foreach (var comment in Model.Comments)
                    {
            <div class="be-comment">
                <div class="be-comment-content">
                    <span class="be-comment-name">
                        <a href="#">@comment.Commenter</a>
                    </span>
                    <span class="be-comment-time">
                        <i class="fa fa-clock-o"></i>
                        @comment.AddedOn
                    </span>
                    <p class="be-comment-text">@comment.Content</p>
                </div>
                @foreach (var reply in comment.Replies)
                {
                    <p>@reply.Replier replied: @reply.Content</p>
                }
                <form action="/Replies/Add?commentId=@comment.Id" method="post">
                    <textarea name="replyContent" placeholder="Reply to @comment.Commenter..."></textarea>
                    <button type="submit" class="btn-info btn-sm">Reply</button>
                </form>
            </div>

                    }
                }
                <form action="/Comments/Add?articleId=@Model.Id" method="post">
                    <textarea name="content" placeholder="Write your comment here..."></textarea>
                    <button type="submit" class="btn-success btn-sm">Post</button>
                </form>
                <a href="/Articles/Edit?articleId=@Model.Id" class="btn-primary btn-sm">Edit</a>
                <a href="/Articles/Delete?articleId=@Model.Id" class="btn-danger btn-sm">Delete</a>
            </div>
        </div>
    </div>
</div>