@using GamingWiki.Web.Infrastructure
@model ArticleServiceDetailsModel

<section class="page-top-section set-bg" data-setbg="/img/page-top-bg/2.jpg">
    <div class="page-info">
        <h2>@Model.Heading</h2>
        <div class="site-breadcrumb">
            <a asp-controller="Home" asp-action="Index">Home</a>  / <a asp-controller="Articles" asp-action="All">Blog</a>
        </div>
    </div>
</section>

<section class="games-single-page">
    <div class="container">
        <div class="game-single-preview">
            <img src="@Model.PictureUrl" alt="">
        </div>
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-7 game-single-content">
                <h2 class="gs-title">@Model.Heading</h2>
                <h4>By: @Model.Author</h4>
                <p>@Model.Content</p>
                @if (this.User.IsAdmin() || this.User.GetId() == Model.AuthorId)
                {
                    <a asp-controller="Articles" asp-action="Edit" asp-route-articleId="@Model.Id" class="btn btn-warning">Edit</a>
                    <a asp-controller="Articles" asp-action="Delete" asp-route-articleId="@Model.Id" class="btn btn-danger">Delete</a>
                }
            <br />
            <br />
                <h4 style="color: white;">Comments (@Model.Comments.Count())</h4>
                @if (!Model.Comments.Any())
                {
                    <p>No comments yet.</p>
                }
                else
                {
                    <div class="row">
                        <div class="col-sm-11 col-md-11 col-8 pb-4 darker">

                            @foreach (var comment in Model.Comments)
                            {
                                <div class="text-justify mt-4 float-left">
                                    <h4>
                                        <i class="fa fa-user-o"> @comment.Commenter </i>
                                        @if (this.User.GetId() == comment.CommenterId || this.User.IsAdmin())
                                        {
                                            <a asp-controller="Comments" asp-action="Delete" asp-route-commentId="@comment.Id"><i class="fa fa-trash-o btn btn-sm btn-danger"></i></a>
                                        }
                                    </h4>
                                    <br />
                                    <span> <i class="fa fa-clock-o"></i> @comment.AddedOn</span>
                                    <p style="margin-bottom: 15px;">@comment.Content</p>

                                    @foreach (var reply in comment.Replies)
                                    {
                                        <h5 style="color: #b01ba5;">
                                            <i class="fa fa-user-o"></i> @reply.Replier replied:
                                            @if (this.User.GetId() == reply.ReplierId || this.User.IsAdmin())
                                            {
                                                <a asp-controller="Replies" asp-action="Delete" asp-route-replyId="@reply.Id"><i class="fa fa-trash-o btn btn-sm btn-danger"></i></a>
                                            }
                                            <p style="margin: 8px;">@reply.Content</p>
                                        </h5>
                                    }
                                </div>
                                <form asp-controller="Replies" asp-action="Add" asp-route-commentId="@comment.Id" method="post">
                                    <div class="input-group mb-2 float-right">
                                        <input name="replyContent" class="form-control" placeholder="Reply to @comment.Commenter" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-success" type="submit">Reply</button>
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                }
                <br />
                <form class="algin-form" asp-controller="Comments" asp-action="Add" asp-route-articleId="@Model.Id" method="post">
                    <div class="form-group">
                        <h4>Leave a comment</h4>
                        <textarea name="content" placeholder="Write your comment here..." msg cols="30" rows="5" class="form-control" style="background-color: black;"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">
                            Post Comment
                        </button>
                    </div>
                </form>
                <partial name="_SharePartial" />
            </div>
            <div class="col-xl-3 col-lg-4 col-md-5 sidebar game-page-sideber">
                <div id="stickySidebar">
                    <div class="widget-item">
                        <div class="testimonials-widget">
                            <h4 class="widget-title">Quotes</h4>
                            <div class="testim-text">
                                <p>"I'm the hero of a thousand stories. I'm a superhero, an assassin a soldier. I've slain dragons and traveled through portals. I am a spartan, a commander. A king. I've saved a thousand worlds and countless more lives. What am I? I'm a gamer."</p>
                                <h6><span>The art of being a </span>Gamer</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>