@model ArticleEditModel

<section class="page-top-section set-bg" data-setbg="/img/page-top-bg/2.jpg">
    <div class="page-info">
        <h2>@Model.Heading / Edit</h2>
        <div class="site-breadcrumb">
            <a asp-controller="Home" asp-action="Index">Home</a>  / <a asp-controller="Articles" asp-action="All">Articles</a>
        </div>
    </div>
</section>

<section class="games-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 col-md-7">
                <div class="row">
                    <form asp-controller="Articles" asp-action="Edit" asp-route-articleId="@Model.Id" method="post">
                        <div class="form-group">
                            <label asp-for="Heading"></label>
                            <input asp-for="Heading" value="@Model.Heading" class="form-control">
                            <span asp-validation-for="Heading" class="small text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PictureUrl"></label>
                            <input asp-for="PictureUrl" value="@Model.PictureUrl" class="form-control">
                            <span asp-validation-for="PictureUrl" class="small text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <label asp-for="Content"></label>
                            <textarea asp-for="Content" msg cols="100" rows="5" class="form-control"
                                      style="background-color: black;">@Model.Content</textarea>
                            <span asp-validation-for="Content" class="small text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">
                                Edit Article
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>