@model PaginationModel

<div class="site-pagination">
    @{
        var prevDisabled = !Model.PaginatedList.PreviousPage ? "disabled" : string.Empty;
        var nextDisabled = !Model.PaginatedList.NextPage ? "disabled" : string.Empty;
    }

    <a asp-controller="@Model.ControllerName" asp-action="@Model.Tokens.Key"
       asp-route-parameter="@Model.Tokens.Value"
       asp-route-pageIndex="@(Model.PaginatedList.PageIndex - 1)"
       class="btn btn-success @prevDisabled">&lt;&lt;</a>

    @for (var i = 1; i <= Model.PaginatedList.TotalPages; i++)
    {
        <a asp-controller="@Model.ControllerName" asp-action="@Model.Tokens.Key"
           asp-route-parameter="@Model.Tokens.Value"
           asp-route-pageIndex="@i"
           class="btn btn-success">@i</a>
    }

    <a asp-controller="Games" asp-action="@Model.Tokens.Key"
       asp-route-parameter="@Model.Tokens.Value"
       asp-route-pageIndex="@(Model.PaginatedList.PageIndex + 1)"
       class="btn btn-success @nextDisabled">&gt;&gt;</a>
</div>
