@model HomeViewModel

<div id="preloder">
    <div class="loader"></div>
</div>

<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-7">
                <div class="section-title text-white">
                    <h2>Latest News</h2>
                </div>
                @foreach (var article in Model.LatestArticles)
                {
                    <div class="blog-item">
                        <div class="blog-thumb">
                            <img src="@article.PictureUrl" alt="">
                        </div>
                        <div class="blog-text text-box text-white">
                            <div class="top-meta">Latest news  /  in <a asp-controller="Articles" asp-action="All">Articles</a></div>
                            <h3>@article.Heading</h3>
                            <p>@article.ShortContent</p>
                            <a asp-controller="Articles" asp-action="Details" asp-route-articleId="@article.Id" class="read-more">Read More  <img src="/img/icons/double-arrow.png" alt="#" /></a>
                        </div>
                    </div>
                }
            </div>
            <div class="col-xl-3 col-lg-4 col-md-5 sidebar">
                <div id="stickySidebar">
                    <div class="widget-item">
                        <h4 class="widget-title">Trending</h4>
                        <div class="trending-widget">
                            @foreach (var game in Model.BestGames)
                            {
                                <div class="tw-item">
                                    <div class="tw-thumb">
                                        <img src="@game.PictureUrl" alt="#">
                                    </div>
                                    <div class="tw-text">
                                        <div class="tw-meta">Trending / in <a asp-controller="Games" asp-action="All">Games</a></div>
                                        <a asp-controller="Games" asp-action="Details" asp-route-gameId="@game.Id"><h5>@game.Name</h5></a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="intro-text-box text-box text-white">
                    <div class="top-meta">11.11.18  /  in <a href="">Games</a></div>
                    <h3>The best online game is out now!</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida....</p>
                    <a href="#" class="read-more">Read More  <img src="/img/icons/double-arrow.png" alt="#" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="intro-text-box text-box text-white">
                    <div class="top-meta">11.11.18  /  in <a href="">Playstation</a></div>
                    <h3>Top 5 best games in november</h3>
                    <p>Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum  labore suspendisse ultrices gravida....</p>
                    <a href="#" class="read-more">Read More  <img src="img/icons/double-arrow.png" alt="#" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="intro-text-box text-box text-white">
                    <div class="top-meta">11.11.18  /  in <a href="">Reviews</a></div>
                    <h3>Get this game at a promo price</h3>
                    <p>Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida ncididunt ut labore ....</p>
                    <a href="#" class="read-more">Read More  <img src="img/icons/double-arrow.png" alt="#" /></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="featured-section">
    <div class="featured-bg set-bg" data-setbg="/img/featured-bg.jpg"></div>
    <div class="featured-box">
        <div class="text-box">
            <div class="top-meta">A research by <a href="https://www.health.harvard.edu/blog/can-computer-games-keep-your-brain-fit-201204264640" target="_blank">Harvard Health Publishing</a></div>
            <h3> Can computer games keep your brain fit? </h3>
            <p>
                Computer games are being touted as a way to keep the body fit. Can they do the same for your brain? Although that’s the promise behind commercially available computerized brain-training programs, most experts say “Not so fast.” As described in Improving Memory: Understanding age-related memory loss, a new Special Health Report from Harvard Medical School, people who play these games might get better at the tasks they practice while playing, but the games don’t seem to improve users’ overall brain skills, such as attention, memory, use of language, and ability to navigate.

                A 2010 study published in the journal Nature included 11,430 men and women between the ages of 18 and 60 who were randomly assigned to one of three online brain exercise programs. One focused on reasoning, planning, and problem solving. Another focused on broader tasks of memory, attention, mathematics, and other skills. </p>

                <a href="https://www.health.harvard.edu/blog/can-computer-games-keep-your-brain-fit-201204264640" target="_blank" class="read-more">Read More  <img src="img/icons/double-arrow.png" alt="#" /></a>
</div>
    </div>
</section>