@using GamingWiki.Web.Infrastructure
@model DiscussionChatServiceModel

@{
    ViewBag.Title = "Discussion";
}

@section Styles {
    <link href="/css/chat.css" rel="stylesheet" />
}

<section class="page-top-section set-bg" data-setbg="/img/games/big.jpg">
    <div class="page-info">
        <h2>@Model.Name</h2>
        <div class="site-breadcrumb">
            <a asp-controller="Home" asp-action="Index">Home</a>  / <a asp-controller="Discussions" asp-action="Details" asp-route-discussionId="@Model.Id">Details</a>
        </div>
    </div>
</section>

<section class="games-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 col-md-7">
                <div class="row">
                    <div class="container-fluid h-100">
                        <div style="width:700px; margin:0 auto;" class="chat">
                            <div class="card">
                                <div class="card-header msg_head">
                                    <div class="d-flex bd-highlight">
                                        <div class="img_cont">
                                            <img src="@Model.PictureUrl" class="rounded-circle user_img">
                                            <span class="online_icon"></span>
                                        </div>
                                        <div class="user_info">
                                            <select id="discussionId" style="display: none;">
                                                <option value="@Model.Id">@Model.Id</option>
                                            </select>
                                            <span>@Model.Name</span>
                                            <p>@Model.Messages.Count() messages</p>
                                        </div>
                                    </div>
                                    @if (this.User.GetId() != Model.CreatorId)
                                    {
                                    <a asp-controller="Discussions" asp-action="Leave" asp-route-discussionId="@Model.Id">
                                        <span id="action_menu_btn"><i style="color: red;" class="fa fa-sign-out"></i></span>
                                    </a>
                                    }
                                </div>
                                <div id="messagesList" class="card-body msg_card_body">
                                    @foreach (var message in Model.Messages)
                                    {
                                    if (message.SenderId == this.User.GetId())
                                    {
                                    <div class="d-flex justify-content-end mb-4">
                                        <div class="msg_cotainer_send">
                                            @message.Content
                                            <span class="msg_time_send">@message.SentOn
                                                <a asp-controller="Messages" asp-action="Delete" asp-route-messageId="@message.Id">
                                                    <span id="action_menu_btn"><i style="color: red;" class="fa fa-trash"></i></span>
                                                </a>
                                                <br />
                                                </span>
                                        </div>
                                    </div>
                                    }
                                    else
                                    {
                                    <div class="d-flex justify-content-start mb-4">
                                        <div class="img_cont_msg">
                                            <img src="/img/icons/gamer-icon.jpg" class="rounded-circle user_img_msg">
                                        </div>
                                        <div class="msg_cotainer">
                                            @message.Content
                                            <span class="msg_time">@message.Sender - @message.SentOn</span>
                                        </div>
                                    </div>
                                    }
                                    }
                                </div>
                                <div class="card-footer">
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <button class="input-group-text attach_btn"><i class="fa fa-paperclip"></i></button>
                                        </div>
                                        <textarea id="messageInput" class="form-control type_msg" placeholder="Type your message..."></textarea>
                                        <div class="input-group-append">
                                            <button id="sendButton" class="input-group-text send_btn"><i class="fa fa-location-arrow"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>
    <script src="/js/chat.js"></script>
}