@using GamingWiki.Web.Infrastructure

@model DiscussionServiceDetailsModel

@{
    ViewBag.Title = "Discussion Details";
}

<div id="preloder">
    <div class="loader"></div>
</div>

<section class="page-top-section set-bg" data-setbg="/img/page-top-bg/4.jpg">
    <div class="page-info">
        <h2>@Model.Name</h2>
        <div class="site-breadcrumb">
            <a asp-controller="Home" asp-action="Index">Home</a>  / <a asp-controller="Discussions" asp-action="All">Discussions</a>
        </div>
    </div>
</section>

<section class="games-single-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-7 game-single-content">
                <h2 class="gs-title">
                    @Model.Name
                    @if (ViewBag.IsUserMemberOfDiscussion)
                    {
                        <a asp-area="" asp-controller="Discussions" asp-action="Chat" asp-route-discussionId="@Model.Id" class="btn btn-success btn-lg">
                            Chat
                            <i class="fa fa-sign-in"></i>
                        </a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Discussions" asp-action="Join" asp-route-discussionId="@Model.Id" class="btn btn-success btn-lg">
                            Join
                            <i class="fa fa-sign-in"></i>
                        </a>
                    }
                </h2>
                <h4>Creator: @Model.CreatorName</h4>
                <p>@Model.Description</p>
                @if (this.User.IsAdmin() || this.User.GetId() == Model.CreatorId)
                {
                    <a asp-controller="Discussions" asp-action="Edit" asp-route-discussionId="@Model.Id" class="btn btn-warning">Edit</a>
                    <a asp-controller="Discussions" asp-action="Delete" asp-route-discussionId="@Model.Id" class="btn btn-danger">Delete</a>
                }
            </div>
            <div class="col-xl-3 col-lg-4 col-md-5 sidebar game-page-sideber">
                <div id="stickySidebar">
                    <div class="widget-item">
                    </div>
                    <div class="widget-item">
                        <div class="testimonials-widget">
                            <h4 class="widget-title">Quotes</h4>
                            <div class="testim-text">
                                <p>"Everyone thinks they’re the hero of their own story." </p>
                                <h6><span>Handsome Jack, </span>Borderlands</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
