@model ReviewFormModel

<section class="page-top-section set-bg" data-setbg="/img/page-top-bg/1.jpg">
    <div class="page-info">
        <h2>@Model.Game.Name / New review</h2>
        <div class="site-breadcrumb">
            <a href="/">Home</a>  / <a href="/Games/All">Games</a>
        </div>
    </div>
</section>

@{
    var numbersColorsPairs = new Dictionary<int, string>
{
        {1, "btn btn-danger" },
        {2, "btn btn-warning" },
        {3, "btn btn-primary" },
        {4, "btn btn-info" },
        {5, "btn btn-success" },
    };
}
<section class="games-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 col-md-7">
                <div class="row">
                    <img src="@Model.Game.PictureUrl" alt="" style="padding: 15px; object-fit: cover">
                    <form method="post">
                        <div class="form-group">
                            <label asp-for="PriceRate"></label>
                            @foreach (var (number, btnColor) in numbersColorsPairs)
                            {
                                <input type="radio" class="@btnColor" asp-for="PriceRate" autocomplete="off" value="@number" />
                                <label class="@btnColor">@number</label>
                                <span asp-validation-for="PriceRate" class="small text-danger"></span>
                            }
                            <br />
                            <br />

                            <label asp-for="LevelsRate"></label>
                            @foreach (var (number, btnColor) in numbersColorsPairs)
                            {
                                <input type="radio" class="@btnColor" asp-for="LevelsRate" autocomplete="off" value="@number" />
                                <label class="@btnColor">@number</label>
                                <span asp-validation-for="LevelsRate" class="small text-danger"></span>
                            }
                            <br />
                            <br />
                            <label asp-for="GraphicsRate"></label>
                            @foreach (var (number, btnColor) in numbersColorsPairs)
                            {
                                <input type="radio" class="@btnColor" asp-for="GraphicsRate" autocomplete="off" value="@number" />
                                <label class="@btnColor">@number</label>
                                <span asp-validation-for="GraphicsRate" class="small text-danger"></span>
                            }
                            <br />
                            <br />

                            <label asp-for="DifficultyRate"></label>
                            @foreach (var (number, btnColor) in numbersColorsPairs)
                            {
                                <input type="radio" class="@btnColor" asp-for="DifficultyRate" autocomplete="off" value="@number" />
                                <label class="@btnColor">@number</label>
                                <span asp-validation-for="DifficultyRate" class="small text-danger"></span>
                            }
                        </div>
                        <div class="form-group">
                            <label asp-for="Description">Description</label>
                            <textarea asp-for="Description" msg cols="100" rows="5" class="form-control"
                                      style="background-color: black;"></textarea>
                            <span asp-validation-for="Description" class="small text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">
                                Add Review
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}