@model ReviewListingModel

<section class="page-top-section set-bg" data-setbg="/img/page-top-bg/1.jpg">
    <div class="page-info">
        <h2>@Model.Game.Name Review / Edit</h2>
        <div class="site-breadcrumb">
            <a asp-controller="Home" asp-action="Index">Home</a>  / <a asp-controller="Home" asp-action="Index">Reviews</a>
        </div>
    </div>
</section>

@{
    var numbersColorsPairs = new Dictionary<int, string>
{
        {1, "btn btn-danger" },
        {2, "btn btn-warning" },
        {3, "btn btn-primary" },
        {4, "btn btn-info" },
        {5, "btn btn-success" },
    };
}

<section class="games-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 col-md-7">
                <div class="row">
                    <img src="@Model.Game.PictureUrl" alt="" style="padding: 15px; object-fit: cover">
                    <form asp-controller="Reviews" asp-action="Edit" asp-route-reviewId="@Model.Id" method="post">
                        <div class="form-group">
                            <label>Price rate:</label>
                            @foreach (var (number, btnColor) in numbersColorsPairs)
                            {
                                <input type="radio" class="@btnColor" name="priceRate" autocomplete="off" value="@number" />
                                <label class="@btnColor">@number</label>
                            }
                            <br />
                            <br />
                            <label>Levels rate:</label>
                            @foreach (var (number, btnColor) in numbersColorsPairs)
                            {
                                <input type="radio" class="@btnColor" name="levelsRate" autocomplete="off" value="@number" />
                                <label class="@btnColor">@number</label>
                            }
                            <br />
                            <br />
                            <label>Graphics rate:</label>
                            @foreach (var (number, btnColor) in numbersColorsPairs)
                            {
                                <input type="radio" class="@btnColor" name="graphicsRate" autocomplete="off" value="@number" />
                                <label class="@btnColor">@number</label>
                            }
                            <br />
                            <br />
                            <label>Difficulty rate:</label>
                            @foreach (var (number, btnColor) in numbersColorsPairs)
                            {
                                <input type="radio" class="@btnColor" name="difficultyRate" autocomplete="off" value="@number" />
                                <label class="@btnColor">@number</label>
                            }
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea name="description" msg cols="100" rows="5" class="form-control"
                                      style="background-color: black;">@Model.Description</textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">
                                Edit Review
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
