@model CharacterFullModel

<section class="page-top-section set-bg" data-setbg="/img/page-top-bg/4.jpg">
    <div class="page-info">
        <h2>Characters</h2>
        <div class="site-breadcrumb">
            <a asp-controller="Home" asp-action="Index">Home</a>  / <a asp-controller="Characters" asp-action="All">Characters</a>
        </div>
    </div>
</section>

@{
    var letters = Enumerable.Range(65, 26);
}
<section class="games-section">
    <div class="container">
        <ul class="blog-filter">
            @foreach (var characterClass in Model.Classes)
            {
                <li><a asp-controller="Characters" asp-action="Filter" asp-route-classId="@characterClass.Id">@characterClass.Name</a></li>
            }
        </ul>
        <br/>
        <ul class="game-filter">
            @foreach (var letter in letters)
            {
                <li><a asp-controller="Characters" asp-action="Search" asp-route-letter="@((char) letter)">@((char) letter)</a></li>
            }
        </ul>
        <div class="row">
            <div class="col-xl-7 col-lg-8 col-md-7">
                <div class="row">
                    @if (!Model.Characters.Any())
                    {
                        <div class="blog-content text-box text-white">
                            <h5>No characters match your search.</h5>
                            <br />
                            <a class="btn btn btn-info" asp-controller="Characters" asp-action="All">See available characters</a>
                        </div>
                    }
                    else
                    {
                        @foreach (var character in Model.Characters)
                        {
                            <div class="col-lg-4 col-md-6">
                                <div class="game-item">
                                    <img src="@character.PictureUrl" alt="#" style="width: 370px; height: 345px; object-fit: cover">
                                    <h5>@character.Name</h5>
                                    <a asp-controller="Characters" asp-action="Details" asp-route-characterId="@character.Id" class="read-more">See More <img src="/img/icons/double-arrow.png" alt="#"/></a>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="site-pagination">
                    <a href="#" class="active">01.</a>
                    <a href="#">02.</a>
                    <a href="#">03.</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-5 sidebar game-page-sideber">
                <div id="stickySidebar">
                    <div class="widget-item">
                        <div class="categories-widget">
                            <h4 class="widget-title">Navigation</h4>
                            <ul>
                                <li><a asp-controller="Games" asp-action="All">GameNames</a></li>
                                <li><a asp-controller="Articles" asp-action="All">Articles</a></li>
                                <li><a asp-controller="Reviews" asp-action="All">Reviews</a></li>
                                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            </ul>
                        </div>
                    </div>
                    @*<div class="widget-item">
                        <div class="categories-widget">
                            <h4 class="widget-title">platform</h4>
                            <ul>
                                <li><a href="">Xbox</a></li>
                                <li><a href="">X box 360</a></li>
                                <li><a href="">Play Station</a></li>
                                <li><a href="">Play Station VR</a></li>
                                <li><a href="">Nintendo Wii</a></li>
                                <li><a href="">Nintendo Wii U</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget-item">
                        <div class="categories-widget">
                            <h4 class="widget-title">Genre</h4>
                            <ul>
                                <li><a href="">Online</a></li>
                                <li><a href="">Adventure</a></li>
                                <li><a href="">S.F.</a></li>
                                <li><a href="">Strategy</a></li>
                                <li><a href="">Racing</a></li>
                                <li><a href="">Shooter</a></li>
                            </ul>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</section>