@model CharacterListingModel

<div id="preloder">
    <div class="loader"></div>
</div>

<section class="page-top-section set-bg" data-setbg="/img/page-top-bg/4.jpg">
    <div class="page-info">
        <h2>@Model.Name</h2>
        <div class="site-breadcrumb">
            <a asp-controller="Home" asp-action="Index">Home</a>  / <a asp-controller="Characters" asp-action="All">Characters</a>
        </div>
    </div>
</section>

<section class="games-single-page">
    <div class="container">
        <div class="game-single-preview">
            <img src="@Model.PictureUrl" alt="" style="width: 350px; height: 350px; object-fit: cover">
        </div>
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-7 game-single-content">
                <div class="gs-meta">Game: <a asp-controller="Games" asp-action="Details" asp-route-gameId="@Model.GameId">@Model.Game</a></div>
                <h2 class="gs-title">@Model.Name</h2>
                <h4>Class: @Model.Class</h4>
                <p>@Model.Description</p>
                <a asp-controller="Characters" asp-action="Edit" asp-route-characterId="@Model.Id" class="btn btn-outline-success">Edit</a>
                <a asp-controller="Characters" asp-action="Delete" asp-route-characterId="@Model.Id" class="btn btn-outline-danger">Delete</a>
                <partial name="_SharePartial"/>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-5 sidebar game-page-sideber">
                <div id="stickySidebar">
                    <div class="widget-item">
                    </div>
                    <div class="widget-item">
                        <div class="testimonials-widget">
                            <h4 class="widget-title">Quotes</h4>
                            <div class="testim-text">
                                <p>"Everyone thinks they’re the hero of their own story." </p>
                                <h6><span>Handsome Jack, </span>Borderlands</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<section class="game-author-section">
    <div class="container">
        <div class="game-author-pic set-bg" data-setbg="/img/author.jpg"></div>
        <div class="game-author-info">
            <h4>Written by: Michael Williams</h4>
            <p>Vivamus volutpat nibh ac sollicitudin imperdiet. Donec scelerisque lorem sodales odio ultricies, nec rhoncus ex lobortis. Vivamus tincid-unt sit amet sem id varius. Donec elementum aliquet tortor. Curabitur justo mi, efficitur sed eros alique.</p>
        </div>
    </div>
</section>*@